<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property resource="logging.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.kaaproject" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ch.qos" level="NONE" additivity="false" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
